{% extends 'df_goods/base.html' %}

{% block aside1 %}

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/images/goods_detail.jpg"></div>

		<div class="goods_detail_list fr">
			<h3>大兴大棚草莓</h3>
			<p>草莓浆果柔软多汁，味美爽口，适合速冻保鲜贮藏。草莓速冻后，可以保持原有的色、香、味，既便于贮藏，又便于外销。</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>16.80</em></span>
				<span class="show_unit">单  位：500g</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em>16.80元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>
{% endblock aside1 %}
{% block aside2 %}
		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>草莓采摘园位于北京大兴区 庞各庄镇四各庄村 ，每年1月-6月面向北京以及周围城市提供新鲜草莓采摘和精品礼盒装草莓，草莓品种多样丰富，个大香甜。所有草莓均严格按照有机标准培育，不使用任何化肥和农药。草莓在采摘期间免洗可以直接食用。欢迎喜欢草莓的市民前来采摘，也欢迎各大单位选购精品有机草莓礼盒，有机草莓礼盒是亲朋馈赠、福利送礼的最佳选择。 </dd>
				</dl>
			</div>

		</div>
{% endblock aside2 %}


{% block js %}
<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
    $(function (){
             var $add_x = $('#add_cart').offset().top;
             var $add_y = $('#add_cart').offset().left;

             var $to_x = $('#show_count').offset().top;
             var $to_y = $('#show_count').offset().left;

             $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
             $('#add_cart').click(function(){
             $(".add_jump").stop().animate({
             'left': $to_y+7,
             'top': $to_x+7},
             "fast", function() {
             $(".add_jump").fadeOut('fast',function(){
             $('#show_count').html(2);
             });

             });
             })
             });

    let num = parseFloat($('.num_show').val())
    let price = parseFloat($('.prize_bar .show_pirze em').text())
    $('.add').click(function (){
        num++
        $('.num_show').val(num)
         $('.total').html(`总价：<em>${(num*price).toFixed(2)}元</em>`)
    })
    $('.minus').click(function (){
        num--
        if(num <= 0){
            num = 0
        }
         $('.num_show').val(num)
        $('.total').html(`总价：<em>${(num*price).toFixed(2)}元</em>`)
    })


</script>
{% endblock js %}