{% extends 'base.html' %}
    {% block cart %}
	
	<h3 class="common_title">确认收货地址</h3>

	<div class="common_list_con clearfix">
		<dl>
			<dt>寄送到：</dt>
			<dd><input type="radio" name="" checked="">{{ carts.first.user.uaddr }}（{{ carts.first.user.unickname }} 收） {{ carts.first.user.uphone }}</dd>
		</dl>
		<a href="user_center_site.html" class="edit_site">编辑收货地址</a>

	</div>
	
	<h3 class="common_title">支付方式</h3>	
	<div class="common_list_con clearfix">
		<div class="pay_style_con clearfix">
			<input type="radio" name="pay_style" checked>
			<label class="cash">货到付款</label>
			<input type="radio" name="pay_style">
			<label class="weixin">微信支付</label>
			<input type="radio" name="pay_style">
			<label class="zhifubao"></label>
			<input type="radio" name="pay_style">
			<label class="bank">银行卡支付</label>
		</div>
	</div>

	<h3 class="common_title">商品列表</h3>
	
	<div class="common_list_con clearfix">
		<ul class="goods_list_th clearfix">
			<li class="col01">商品名称</li>
			<li class="col02">商品单位</li>
			<li class="col03">商品价格</li>
			<li class="col04">数量</li>
			<li class="col05">小计</li>		
		</ul>
        {% for cart in carts %}

            {% if cart.id in id_list %}
            <ul class="goods_list_td clearfix">
                <li class="col01">{{ forloop.counter }}</li>
                <li class="col02"><img src="/static/{{ cart.goods.gpic }}"></li>
                <li class="col03">{{ cart.goods.gtitle }}</li>
                <li class="col04">{{ cart.goods.gunit }}</li>
                <li class="col05">{{ cart.goods.gprice }}元</li>
                <li class="col06">{{ cart.count }}</li>
                <li class="col07">{{ cart.goods.gprice }}元</li>
            </ul>
            {% endif %}
        {% endfor %}
    </div>

	<h3 class="common_title">总金额结算</h3>

	<div class="common_list_con clearfix">
		<div class="settle_con">
			<div class="total_goods_count">共<em>2</em>件商品，总金额<b>42.60元</b></div>
			<div class="transit">运费：<b>10元</b></div>
			<div class="total_pay">实付款：<b>52.60元</b></div>
		</div>
	</div>

	<div class="order_submit clearfix">
		<a href="javascript:;" id="order_btn">提交订单</a>
	</div>	



	<div class="popup_con">
		<div class="popup">
			<p>订单提交成功！</p>
		</div>
		
		<div class="mask"></div>
	</div>
    {% endblock cart %}
{% block js %}

	<script type="text/javascript">

    let arr = {{ id_list }}
    let total_sum = 0
    let total_count = 0
    let total_pay = 0
    let subtxt = ''
    $('.goods_list_td').each(function (){
        {#取消勾选还是要算一次#}
        amount = $(this).find('.col06').text()
        price = $(this).find('.col05').text()
        subtotal = parseFloat(amount)*parseFloat(price)
        {#$('.common_list_con').find('.col07').text(subtotal.toFixed(2))#}
        total_sum += subtotal
        total_count ++



    })
    total_pay = total_sum +10
    $('.total_goods_count b').text(total_sum.toFixed(2) + '元')
    $('.total_goods_count em').text(total_count)
    $('.total_pay b').text(total_pay.toFixed(2)+ '元')
    for(let x= 0; x < arr.length; x++){
                            subtxt += '&cart_ids=' + arr[x]
                        }
    url = '/order/order_handle/?'+subtxt.slice(1) +'&total='+ total_pay
    console.log(url)
    {#点击事件#}
    $('#order_btn').click(function() {

        localStorage.setItem('order_finish',2);

        $('.popup_con').fadeIn('fast', function() {

            setTimeout(function(){
                $('.popup_con').fadeOut('fast',function(){

                    window.location.href = url;
                });
            },2000)

        });
    });

	</script>
{% endblock js %}