{% extends 'base.html' %}
    {% block right %}
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
                {% for order in orders %}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{ order.odate }}</li>
					<li class="col02">订单号：{{ order.oid }}</li>
					<li class="col02 stress">{% if order.oIsPay == 0 %}未支付{% else %}已支付{% endif %}</li>
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">

                                {% for detail in list_detail %}
                                    {% if order.oid == detail.order_id %}
                                        <ul class="order_goods_list clearfix">
                                            <li class="col01"><img src="/static/{{ detail.goods.gpic }}"></li>
                                            <li class="col02">{{ detail.goods.gtitle }}<em>{{ detail.price }}元/{{ detail.goods.gunit }}</em></li>
                                            <li class="col03">{{ detail.count }}</li>
                                            <li class="col04">{{ detail.price }}元</li>
                                        </ul>
                                    {% endif %}
                                {% endfor %}

							</td>
							<td width="15%">{{ order.ototal }}元</td>
                            {% if order.oIsPay == 0 %}
							<td width="15%">待付款</td>
							<td width="15%"><a href="#" class="oper_btn">去付款</a></td>
                            {% else %}
                            <td width="15%">已付款</td>
							<td width="15%"><a href="#" class="oper_btn">查看物流</a></td>
                            {% endif %}
						</tr>
					</tbody>
				</table>
				{% endfor %}

				<div class="pagenation">
					<a href="#"><上一页</a>
					<a href="#" class="active">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">下一页></a>
				</div>
		</div>
	</div>
    {% endblock right %}
